<footer class="footer">
  <ul class="footer__list">
    <li class="footer__list_item"><a href=>О проекте</a></li>
    <li class="footer__list_item"><a href="contacts">Контакты</a></li>
    <li class="footer__list_item"><a href="sign">Вход</a></li>
  </ul>
  <div id="page_load">
  </div>
  <div id="server_load">
    <a>Server load time is {{time}} Seconds.</a>
  </div>
  <article class="copyright">
    <del>Некая очень важная информация в самом низу сайта.</del>
  </article>
</footer>