<footer class="footer">
  <ul class="footer__list">
    <li class="footer__list_item"><a href=/about>О проекте</a></li>
    <li class="footer__list_item"><a href="/contacts">Контакты</a></li>
    {{#unless IsAuthorized}}
      <li class="footer__list_item"><a onclick="googleSignIn()">Вход</a></li>
    <li class="footer__list_item"><a onclick="googleRegistration()">Регистрация</a></li>
    {{else}}
        <li class="footer__list_item"><a onclick="signout()">Выход</a></li>
    {{/unless}}
  </ul>
  <div id="page_load">
  </div>
  <div id="server_load">
    <a>Server load time is {{time}} Seconds.</a>
  </div>
  <article class="copyright">
    <del>Некая очень важная информация в самом низу сайта.</del>
  </article>
</footer>