<!DOCTYPE html>
<html lang="en">
<head>
    <title>contacts</title>
    {{>sharedHead}}
</head>
<body class="body">
{{>header IsAuthorized = message}}
<main class="main">
    <ul class="track__list">
        <li class="track__list__item"><a href=https://github.com/kotyangensss target="_blank">Github</a></li>
        <li class="track__list__item"><a class="track__list__item" href=https://vk.com/endlesssnightmare
                                         target="_blank">VK</a></li>
        <li class="track__list__item"><a class="track__list__item" href=https://t.me/endlesssnightmare target="_blank">tg</a>
        </li>
    </ul>
</main>
{{>footer IsAuthorized = message}}
</body>
<script type="text/javascript" src="/amplitude/js/player.js"></script>
</html>