<!DOCTYPE html>
<html lang="en">
<head>
  <title>releases</title>
  {{>sharedHead}}
    <script src="/scripts/render-list.js"></script>
</head>
<body class="body">
<main class="main">
    {{>header IsAuthorized = message}}
<script>renderList(process.env.HOST)</script>
</main>
{{>footer IsAuthorized = message}}
</body>
<script type="text/javascript" src="/amplitude/js/player.js"></script>
</html>