<!DOCTYPE html>
<html lang="en">
<head>
    <title>track</title>
    {{>sharedHead}}
</head>
<body class="body">
{{>header IsAuthorized = message}}
<main class="main">
    <a>{{ name }}</a>
</main>
{{>footer}}
</body>
<script type="text/javascript" src="/amplitude/js/player.js"></script>
</html>