html,
body {
    margin: 0;
    padding: 0;
    font-family: Calibri, serif;;
    font-size: 20px;
    background-color: #121212;
}

.header {
    color: #bdc1c6;
    background-color: #121212;
    /*background-color: #222526#202124;*/
}
.logo {
    text-align: center;
    margin-right: 95%;
}

.navigation {
    font-family: Calibri, serif;
    text-align: center;
    text-transform: uppercase;
}

.navigation_item {
    font-size: 25px;
    color: #bdc1c6;
    margin: 5%;
    display: inline;
}

.main {
    color: #bdc1c6;
    background-color: #1f2023;
}

.quote {
    margin-left: 80%;
    padding: 1%;
    font-size: 20px;
    font-family: cursive;
    text-align: right;
}

.audio {
    text-align: right;
    margin: 1%;
    padding: 0;
    filter: drop-shadow(0 0 0.75rem whitesmoke);
}

.recommendations {
    font-size: 120%;
    text-align: center;
}
.playing {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 0.5%;
    border-top: #bdc1c6 solid;
    border-left: #bdc1c6 solid;
    background: #222526; /* Цвет фона */
    font-family: cursive;
    text-transform: uppercase;
    text-decoration: underline;
}

.code {
    font-weight: 900;
    border: solid #32a1ce;
}

.footer {
    color: #bdc1c6;
    background-color: #121212;
}

.footer_list {
    list-style-type: none;
}

.footer_list_item {
    line-height: 1.5;
    font-size: 80%;
}
.youtube {
    margin: 0 auto;
    display: block;
    border: none;
    filter: drop-shadow(0 0 0.75rem whitesmoke);
}
a {
    color: #bdc1c6;
    text-decoration: none;
}
.copyright {
    font-weight: 100;
    text-align: center ;
    font-size: 70%;
    margin: 1%;
}

.recommendations_list {
    list-style-type: none;
    text-align: left;

}

.starege {
    font-size: 50%;
    filter: drop-shadow(10px 10px 4px #010101);
}

.bruh {
    font-size: 50%;
    filter: drop-shadow(10px 10px 4px #010101);
}